/Vystupy/*
/Kroky_zaloha/*
/Data_ZP/*

!/Vystupy/*.txt
!/Kroky_zaloha/*.txt
!/Data_ZP/2022/24/*.txt
!/Data_ZP/2022/25/*.txt
!/Data_ZP/2022/27/*.txt
!/Data_ZP/2023/24/*.txt
!/Data_ZP/2023/25/*.txt
!/Data_ZP/2023/27/*.txt